In [ ]:
import pandas as pd
from demoparser2 import DemoParser
import os
from typing import Tuple
from pathlib import Path

import sys

root = Path.cwd()

if (root / "utils").exists():
    project_root = root
elif (root.parent / "utils").exists():
    project_root = root.parent

sys.path.insert(0, str(project_root))

from utils.demo_preprocessing import (
    initialize_demo_parser,
    parse_round_times,
    parse_alive_teammates,
    parse_demo,
    friendly_teammates,
    ticks_between_rounds,
)

DEMO_FOLDER_PATH = "../../data/demos/"
DEMOS = os.listdir("../../data/demos/")

TEAM_NUMBER_SIDE_MAP = {2: "T", 3: "CT"}
pd.set_option("display.max_columns", None)

In [2]:
DEMOS[0]

'monte-vs-natus-vincere-m2-mirage.dem'

In [4]:
parser = initialize_demo_parser(DEMO_FOLDER_PATH + DEMOS[0])

In [4]:
df_round_times = parse_round_times(parser)

In [5]:
display(df_round_times)

           tick  round_time
0             0       -25.0
10            1       -25.0
20            2       -20.0
30            3       -20.0
40            4       -20.0
...         ...         ...
2406460  240647       342.0
2406470  240648       342.0
2406480  240649       342.0
2406490  240650       342.0
2406500  240651       342.0

[240651 rows x 2 columns]

In [6]:
df_teammates = parse_alive_teammates(parser)

In [7]:
display(df_teammates)

          tick  alive_count team_name
0            0            5         T
1            0            5        CT
2            1            5         T
3            1            5        CT
4            2            5         T
...        ...          ...       ...
481297  240649            0        CT
481298  240650            0         T
481299  240650            0        CT
481300  240651            0         T
481301  240651            0        CT

[481302 rows x 3 columns]

In [2]:
df_demo = parse_demo(DEMO_FOLDER_PATH + DEMOS[0])

In [3]:
display(df_demo)

,demo_file,tick,round,attacker_X,attacker_Y,attacker_Z,attacker_name,user_X,user_Y,user_Z,user_name,weapon,bomb_site,is_bomb_planted,round_time_left,attacker_team_name,user_team_name,attacker_alive_count,user_alive_count,attacker_team_name,user_team_name,t_won_round
0,../../data/demos/monte-vs-natus-vincere-m2-mir...,3837,1,-1402.801025,277.571686,-167.968750,Bymas,-1815.887817,245.597977,-167.968750,makazze,usp_silencer,0,False,87.0,CT,T,4,4,CT,T,0
1,../../data/demos/monte-vs-natus-vincere-m2-mir...,3961,1,-1829.303467,507.543060,-167.968750,b1t,-1378.850830,169.203323,-165.696045,Bymas,glock,0,False,86.0,T,CT,3,4,T,CT,0
2,../../data/demos/monte-vs-natus-vincere-m2-mir...,4027,1,-985.997131,214.511948,-172.343872,afro,-1829.503296,498.024872,-167.968750,b1t,usp_silencer,0,False,85.0,CT,T,3,3,CT,T,0
3,../../data/demos/monte-vs-natus-vincere-m2-mir...,4471,1,-1806.596191,134.951736,-167.591980,Gizmy,-1686.054321,421.066071,-170.143433,Aleksib,usp_silencer,0,False,78.0,CT,T,3,2,CT,T,0
4,../../data/demos/monte-vs-natus-vincere-m2-mir...,4543,1,-2519.490234,509.333954,-166.307129,iM,-2233.613770,-103.487549,-168.258301,Rainwaker,glock,0,False,76.0,T,CT,1,3,T,CT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,../../data/demos/monte-vs-natus-vincere-m2-mir...,223914,24,-995.391357,-1337.700684,-161.841553,w0nderful,179.970428,-2343.272217,-39.968750,afro,awp,0,False,34.0,CT,T,2,2,CT,T,1
150,../../data/demos/monte-vs-natus-vincere-m2-mir...,224021,24,-767.964539,-1678.924072,-173.460999,Aleksib,174.634460,-1667.961670,-167.968750,Gizmy,m4a1_silencer,0,False,33.0,CT,T,2,1,CT,T,1
151,../../data/demos/monte-vs-natus-vincere-m2-mir...,224099,24,-827.385010,-2293.925537,-174.426575,Rainwaker,-523.157532,-1362.534546,-138.732361,b1t,ak47,0,False,31.0,T,CT,0,2,T,CT,1
152,../../data/demos/monte-vs-natus-vincere-m2-mir...,224181,24,-799.727783,-2297.840088,-176.710999,Rainwaker,-721.745422,-1531.329102,-167.968750,Aleksib,ak47,0,False,30.0,T,CT,0,1,T,CT,1
153,../../data/demos/monte-vs-natus-vincere-m2-mir...,224990,24,74.833412,-2095.011230,-39.968750,Rainwaker,-1194.185913,-1259.981323,-167.968750,w0nderful,ak47,0,False,17.0,T,CT,0,0,T,CT,1

In [5]:
display(df_demo[df_demo["bomb_site"].notnull()])

Empty DataFrame
Columns: [demo_file, tick, round, attacker_X, attacker_Y, attacker_Z, attacker_name, user_X, user_Y, user_Z, user_name, weapon, bomb_site, is_bomb_planted, round_time_left, attacker_team_name, user_team_name, attacker_alive_count, user_alive_count, attacker_team_name, user_team_name, t_won_round]
Index: []

In [6]:
display(df_demo.sort_values(by=["tick"], ascending=True).head(20))

,demo_file,tick,round,attacker_X,attacker_Y,attacker_Z,attacker_name,user_X,user_Y,user_Z,...,bomb_site,is_bomb_planted,round_time_left,attacker_team_name,user_team_name,attacker_alive_count,user_alive_count,attacker_team_name,user_team_name,t_won_round
0,../../data/demos/monte-vs-natus-vincere-m2-mir...,11970,1,-708.075073,-1454.701782,-167.968750,afro,185.152756,-2366.086914,-39.968750,...,0,False,72.0,CT,T,4,4,CT,T,0
1,../../data/demos/monte-vs-natus-vincere-m2-mir...,14260,1,-781.318115,-1167.285156,-120.175354,afro,184.747818,-2356.205811,-39.968750,...,0,False,36.0,CT,T,4,3,CT,T,0
2,../../data/demos/monte-vs-natus-vincere-m2-mir...,14582,1,-2190.131348,766.759399,-127.968750,Gizmy,-1962.754883,773.206909,-47.968750,...,0,False,31.0,CT,T,4,2,CT,T,0
3,../../data/demos/monte-vs-natus-vincere-m2-mir...,14707,1,-812.353577,119.529694,-171.074951,Bymas,-1916.653564,264.193756,-159.968750,...,0,False,29.0,CT,T,4,1,CT,T,0
4,../../data/demos/monte-vs-natus-vincere-m2-mir...,14822,1,-879.493286,89.458359,-165.968750,Bymas,-2023.981079,817.632385,-47.968750,...,0,False,27.0,CT,T,4,0,CT,T,0
5,../../data/demos/monte-vs-natus-vincere-m2-mir...,18267,2,-1223.753174,-1232.219604,-167.968750,afro,84.876747,-2177.288818,-39.968750,...,0,False,88.0,CT,T,4,4,CT,T,1
6,../../data/demos/monte-vs-natus-vincere-m2-mir...,18679,2,74.906349,-2194.255859,-39.968750,b1t,-764.695251,-1831.207031,-179.968750,...,0,False,82.0,T,CT,3,4,T,CT,1
7,../../data/demos/monte-vs-natus-vincere-m2-mir...,19416,2,-79.315369,-2154.916748,-167.968750,Gizmy,-309.301025,-1537.927856,-167.968750,...,0,False,70.0,CT,T,3,3,CT,T,1
8,../../data/demos/monte-vs-natus-vincere-m2-mir...,19443,2,118.290413,-1691.251343,-167.968750,w0nderful,-863.297791,-2367.233643,-167.976196,...,0,False,70.0,T,CT,2,3,T,CT,1
9,../../data/demos/monte-vs-natus-vincere-m2-mir...,19604,2,180.471939,-1669.004883,-167.968750,w0nderful,-355.989136,-1575.399536,-167.968750,...,0,False,67.0,T,CT,2,2,T,CT,1
10,../../data/demos/monte-vs-natus-vincere-m2-mir...,19706,2,-871.352539,-2278.009766,-171.225708,Bymas,58.854382,-2013.343384,-39.968750,...,0,False,66.0,CT,T,1,2,CT,T,1
11,../../data/demos/monte-vs-natus-vincere-m2-mir...,19871,2,-286.026245,-1675.177246,-167.968750,iM,146.600723,-1944.941284,-35.390625,...,0,False,63.0,T,CT,1,1,T,CT,1
12,../../data/demos/monte-vs-natus-vincere-m2-mir...,20437,2,-555.200134,-1936.047485,-179.968750,iM,-773.941162,-2111.777100,-179.968750,...,0,False,54.0,T,CT,1,0,T,CT,1
13,../../data/demos/monte-vs-natus-vincere-m2-mir...,24331,3,584.572693,-1552.657471,-263.968750,w0nderful,-422.928467,-1562.182983,-39.968750,...,1,False,81.0,T,CT,4,4,T,CT,0
14,../../data/demos/monte-vs-natus-vincere-m2-mir...,25108,3,-9.254761,-2143.054932,-39.968750,Rainwaker,-237.252197,-1620.036743,-167.968750,...,1,False,69.0,CT,T,3,4,CT,T,0
15,../../data/demos/monte-vs-natus-vincere-m2-mir...,25109,3,-177.185425,-1665.163574,-167.968750,makazze,-9.254761,-2143.054932,-39.968750,...,1,False,69.0,T,CT,3,3,T,CT,0
16,../../data/demos/monte-vs-natus-vincere-m2-mir...,26794,3,-1247.924561,-482.871948,-95.968750,Bymas,-583.895874,-788.086304,-262.809570,...,1,False,43.0,CT,T,2,3,CT,T,0
17,../../data/demos/monte-vs-natus-vincere-m2-mir...,27084,3,-973.278809,-2538.193848,-167.968750,Gizmy,-427.384216,-1577.961426,-39.968750,...,1,False,38.0,CT,T,2,2,CT,T,0
18,../../data/demos/monte-vs-natus-vincere-m2-mir...,27148,3,-1016.630371,-2466.425781,-167.968750,Gizmy,-250.667786,-2143.135742,-173.056213,...,1,False,37.0,CT,T,2,1,CT,T,0
19,../../data/demos/monte-vs-natus-vincere-m2-mir...,27180,3,-199.649292,-2140.192139,-168.390381,b1t,-1017.640076,-2464.399170,-167.968750,...,1,False,37.0,T,CT,0,2,T,CT,0

In [7]:
df_demo.shape

(145, 22)

In [8]:
print(df_demo.columns)

Index(['demo_file', 'attacker_X', 'attacker_Y', 'attacker_Z', 'attacker_name',
       'user_X', 'user_Y', 'user_Z', 'user_name', 'weapon', 'round',
       'bomb_site', 'is_bomb_planted', 'round_time_left', 'attacker_team_name',
       'user_team_name', 'attacker_alive_count', 'user_alive_count',
       't_won_round', 'attacker_team_name', 'user_team_name'],
      dtype='str')

In [ ]:
df = parser.parse_event(
    "player_death",
    player=["X", "Y", "Z", "pending_team_num"],
    other=["game_time", "team_name"],
)

In [6]:
display(df)

,assistedflash,assister_X,assister_Y,assister_Z,assister_name,assister_pending_team_num,assister_steamid,attacker_X,attacker_Y,attacker_Z,...,user_Y,user_Z,user_name,user_pending_team_num,user_steamid,weapon,weapon_fauxitemid,weapon_itemid,weapon_originalowner_xuid,wipe
0,False,NaN,NaN,NaN,NaN,NaN,NaN,-1402.801025,277.571686,-167.968750,...,245.597977,-167.968750,makazze,2,76561199076189612,usp_silencer,17293822569102704701,0,,0
1,True,-1815.922119,246.044205,-167.968750,makazze,2.0,76561199076189612,-1829.303467,507.543060,-167.968750,...,169.203323,-165.696045,Bymas,3,76561198093386355,glock,17293822569105195012,26707040466,,0
2,False,-1378.850830,169.203323,-165.696045,Bymas,3.0,76561198093386355,-985.997131,214.511948,-172.343872,...,498.024872,-167.968750,b1t,2,76561198246607476,usp_silencer,17293822569102704701,47388831542,,0
3,False,NaN,NaN,NaN,NaN,NaN,NaN,-1806.596191,134.951736,-167.591980,...,421.066071,-170.143433,Aleksib,2,76561198013243326,usp_silencer,17293822569177546813,30662685979,,0
4,False,NaN,NaN,NaN,NaN,NaN,NaN,-2519.490234,509.333954,-166.307129,...,-103.487549,-168.258301,Rainwaker,3,76561198138113790,glock,17293822569125838852,40611843462,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,False,-1176.486328,-726.970398,-167.968750,iM,3.0,76561198050250233,-767.964539,-1678.924072,-173.460999,...,-1667.961670,-167.968750,Gizmy,2,76561198344226986,m4a1_silencer,17293822569167192124,41782352566,,0
153,False,NaN,NaN,NaN,NaN,NaN,NaN,-827.385010,-2293.925537,-174.426575,...,-1362.534546,-138.732361,b1t,3,76561198246607476,ak47,17293822569191309319,47467737741,,0
154,False,NaN,NaN,NaN,NaN,NaN,NaN,-799.727783,-2297.840088,-176.710999,...,-1531.329102,-167.968750,Aleksib,3,76561198013243326,ak47,17293822569191309319,47467737741,,0
155,False,NaN,NaN,NaN,NaN,NaN,NaN,74.833412,-2095.011230,-39.968750,...,-1259.981323,-167.968750,w0nderful,3,76561199063068840,ak47,17293822569191309319,47467737741,,0
156,False,NaN,NaN,NaN,NaN,NaN,NaN,75.088585,-2094.725342,-39.968750,...,-2094.725342,-39.968750,Rainwaker,0,76561198138113790,world,,,,0

In [7]:
print(df.columns)

Index(['assistedflash', 'assister_X', 'assister_Y', 'assister_Z',
       'assister_name', 'assister_pending_team_num', 'assister_steamid',
       'attacker_X', 'attacker_Y', 'attacker_Z', 'attacker_name',
       'attacker_pending_team_num', 'attacker_steamid', 'attackerblind',
       'attackerinair', 'ct_team_name', 'distance', 'dmg_armor', 'dmg_health',
       'dominated', 'game_time', 'headshot', 'hitgroup', 'noreplay', 'noscope',
       'penetrated', 'revenge', 't_team_name', 'thrusmoke', 'tick', 'user_X',
       'user_Y', 'user_Z', 'user_name', 'user_pending_team_num',
       'user_steamid', 'weapon', 'weapon_fauxitemid', 'weapon_itemid',
       'weapon_originalowner_xuid', 'wipe'],
      dtype='str')

In [10]:
df_round_end, first_round_tick_time = ticks_between_rounds(parser)

In [14]:
display(df_round_end)

           reason  round  end_tick winner  start_tick
2        t_killed      1     14822     CT        7914
3       ct_killed      2     20437      T       15270
4    bomb_defused      3     29160     CT       20885
5       ct_killed      4     38197      T       29608
6   bomb_exploded      5     49700      T       38645
7   bomb_exploded      6     58862      T       50148
8       ct_killed      7     64585      T       59310
9    bomb_defused      8     75194     CT       65033
10  bomb_exploded      9     83748      T       75642
11  bomb_exploded     10     94183      T       84196
12      ct_killed     11    103080      T       94631
13  bomb_exploded     12    123172      T      103624
14      ct_killed     13    131814      T      123620
15  bomb_exploded     14    138914      T      132262
16       t_killed     15    148589     CT      139362
17  bomb_exploded     16    162163      T      149037
18       t_killed     17    171803     CT      162611
19       t_killed     18    178138     CT      172251
20  bomb_exploded     19    185909      T      178586
21  bomb_exploded     20    194376      T      186357
22  bomb_exploded     21    204433      T      194824
23  bomb_exploded     22    214488      T      204881
24      ct_killed     23    224990      T      214936

In [8]:
display(df_demo)

,assistedflash,assister_X,assister_Y,assister_Z,assister_name,assister_pending_team_num,assister_steamid,attacker_X,attacker_Y,attacker_Z,...,round_time_bomb,is_bomb_planted,round_time_left,attacker_team_name,user_team_name,attacker_alive_count,user_alive_count,is_t_attacker,t_won_round,demo_file
0,False,NaN,NaN,NaN,NaN,NaN,NaN,-708.075073,-1454.701782,-167.968750,...,NaN,False,72.0,CT,T,4,4,False,False,../../data/demos/monte-vs-natus-vincere-m2-mir...
1,False,NaN,NaN,NaN,NaN,NaN,NaN,-781.318115,-1167.285156,-120.175354,...,NaN,False,36.0,CT,T,4,3,False,False,../../data/demos/monte-vs-natus-vincere-m2-mir...
2,False,NaN,NaN,NaN,NaN,NaN,NaN,-2190.131348,766.759399,-127.968750,...,NaN,False,31.0,CT,T,4,2,False,False,../../data/demos/monte-vs-natus-vincere-m2-mir...
3,False,NaN,NaN,NaN,NaN,NaN,NaN,-812.353577,119.529694,-171.074951,...,NaN,False,29.0,CT,T,4,1,False,False,../../data/demos/monte-vs-natus-vincere-m2-mir...
4,False,NaN,NaN,NaN,NaN,NaN,NaN,-879.493286,89.458359,-165.968750,...,NaN,False,27.0,CT,T,4,0,False,False,../../data/demos/monte-vs-natus-vincere-m2-mir...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,False,NaN,NaN,NaN,NaN,NaN,NaN,-995.391357,-1337.700684,-161.841553,...,NaN,False,34.0,CT,T,2,2,True,True,../../data/demos/monte-vs-natus-vincere-m2-mir...
141,False,-1176.486328,-726.970398,-167.96875,iM,3.0,76561198050250233,-767.964539,-1678.924072,-173.460999,...,NaN,False,33.0,CT,T,2,1,True,True,../../data/demos/monte-vs-natus-vincere-m2-mir...
142,False,NaN,NaN,NaN,NaN,NaN,NaN,-827.385010,-2293.925537,-174.426575,...,NaN,False,31.0,T,CT,0,2,False,True,../../data/demos/monte-vs-natus-vincere-m2-mir...
143,False,NaN,NaN,NaN,NaN,NaN,NaN,-799.727783,-2297.840088,-176.710999,...,NaN,False,30.0,T,CT,0,1,False,True,../../data/demos/monte-vs-natus-vincere-m2-mir...
144,False,NaN,NaN,NaN,NaN,NaN,NaN,74.833412,-2095.011230,-39.968750,...,NaN,False,17.0,T,CT,0,0,False,True,../../data/demos/monte-vs-natus-vincere-m2-mir...

In [ ]:
display(df_round_end)

           reason  round  end_tick winner  start_tick
2        t_killed      1     14822     CT        7914
3       ct_killed      2     20437      T       15270
4    bomb_defused      3     29160     CT       20885
5       ct_killed      4     38197      T       29608
6   bomb_exploded      5     49700      T       38645
7   bomb_exploded      6     58862      T       50148
8       ct_killed      7     64585      T       59310
9    bomb_defused      8     75194     CT       65033
10  bomb_exploded      9     83748      T       75642
11  bomb_exploded     10     94183      T       84196
12      ct_killed     11    103080      T       94631
13  bomb_exploded     12    123172      T      103624
14      ct_killed     13    131814      T      123620
15  bomb_exploded     14    138914      T      132262
16       t_killed     15    148589     CT      139362
17  bomb_exploded     16    162163      T      149037
18       t_killed     17    171803     CT      162611
19       t_killed     18    178138     CT      172251
20  bomb_exploded     19    185909      T      178586
21  bomb_exploded     20    194376      T      186357
22  bomb_exploded     21    204433      T      194824
23  bomb_exploded     22    214488      T      204881
24      ct_killed     23    224990      T      214936

:

In [13]:
friendly_teammates(parser, "Aleksib")

['makazze', 'b1t', 'iM', 'Aleksib', 'w0nderful']

In [8]:
df.columns

Index(['assistedflash', 'assister_X', 'assister_Y', 'assister_Z',
       'assister_name', 'assister_pending_team_num', 'assister_steamid',
       'attacker_X', 'attacker_Y', 'attacker_Z', 'attacker_name',
       'attacker_pending_team_num', 'attacker_steamid', 'attackerblind',
       'attackerinair', 'ct_team_name', 'distance', 'dmg_armor', 'dmg_health',
       'dominated', 'game_time', 'headshot', 'hitgroup', 'noreplay', 'noscope',
       'penetrated', 'revenge', 't_team_name', 'thrusmoke', 'tick', 'user_X',
       'user_Y', 'user_Z', 'user_name', 'user_pending_team_num',
       'user_steamid', 'weapon', 'weapon_fauxitemid', 'weapon_itemid',
       'weapon_originalowner_xuid', 'wipe'],
      dtype='str')

In [12]:
df["attacker_pending_team_num"]

0      3
1      2
2      3
3      3
4      2
      ..
152    3
153    2
154    2
155    2
156    0
Name: attacker_pending_team_num, Length: 157, dtype: uint32

In [ ]:
display(df_demo)

,demo_file,attacker_X,attacker_Y,attacker_Z,attacker_name,user_X,user_Y,user_Z,user_name,weapon,...,bomb_site,is_bomb_planted,round_time_left,attacker_team_name,user_team_name,attacker_alive_count,user_alive_count,is_friendly_attacker,attacker_won_round,friendly_round_win
0,../../data/demos/monte-vs-natus-vincere-m2-mir...,-708.075073,-1454.701782,-167.968750,afro,185.152756,-2366.086914,-39.968750,b1t,m4a1_silencer,...,NaN,False,72.0,CT,T,4,4,0,1,0
1,../../data/demos/monte-vs-natus-vincere-m2-mir...,-781.318115,-1167.285156,-120.175354,afro,184.747818,-2356.205811,-39.968750,Aleksib,m4a1_silencer,...,NaN,False,36.0,CT,T,4,3,0,1,0
2,../../data/demos/monte-vs-natus-vincere-m2-mir...,-2190.131348,766.759399,-127.968750,Gizmy,-1962.754883,773.206909,-47.968750,iM,mp9,...,NaN,False,31.0,CT,T,4,2,0,1,0
3,../../data/demos/monte-vs-natus-vincere-m2-mir...,-812.353577,119.529694,-171.074951,Bymas,-1916.653564,264.193756,-159.968750,makazze,m4a1_silencer,...,NaN,False,29.0,CT,T,4,1,0,1,0
4,../../data/demos/monte-vs-natus-vincere-m2-mir...,-879.493286,89.458359,-165.968750,Bymas,-2023.981079,817.632385,-47.968750,w0nderful,m4a1_silencer,...,NaN,False,27.0,CT,T,4,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,../../data/demos/monte-vs-natus-vincere-m2-mir...,-995.391357,-1337.700684,-161.841553,w0nderful,179.970428,-2343.272217,-39.968750,afro,awp,...,NaN,False,34.0,CT,T,2,2,1,0,0
141,../../data/demos/monte-vs-natus-vincere-m2-mir...,-767.964539,-1678.924072,-173.460999,Aleksib,174.634460,-1667.961670,-167.968750,Gizmy,m4a1_silencer,...,NaN,False,33.0,CT,T,2,1,1,0,0
142,../../data/demos/monte-vs-natus-vincere-m2-mir...,-827.385010,-2293.925537,-174.426575,Rainwaker,-523.157532,-1362.534546,-138.732361,b1t,ak47,...,NaN,False,31.0,T,CT,0,2,0,1,0
143,../../data/demos/monte-vs-natus-vincere-m2-mir...,-799.727783,-2297.840088,-176.710999,Rainwaker,-721.745422,-1531.329102,-167.968750,Aleksib,ak47,...,NaN,False,30.0,T,CT,0,1,0,1,0
144,../../data/demos/monte-vs-natus-vincere-m2-mir...,74.833412,-2095.011230,-39.968750,Rainwaker,-1194.185913,-1259.981323,-167.968750,w0nderful,ak47,...,NaN,False,17.0,T,CT,0,0,0,1,0